{{#each this}}
<h1 class="title">{{name}}</h1>
<div class="box">
    <ul class="list">
        <li class="item">
            <span class="item-part">Capital: </span>
            {{capital}}
        </li>
        <li class="item">
            <span class="item-part">Population: </span>
            {{population}}
        </li>
        <li class="item">
            <span class="item-part">Languages: </span>
            {{#each languages}}
            <ul>
                <li class="item-languages">{{this.name}}</li>
            </ul>
            {{/each}}
        </li>
    </ul>
    <img class="flag" src="{{flag}}" alt="{{name}} flag" width="150" height="150">
</div>
{{/each}}